.editListButton {
  padding: 0px;
  border-radius: 50%;
  background-color: rgb(0 0 0 / 0%);
  color: rgba(0, 0, 0, 0.294);
}

.editListButton:hover {
  color: rgba(0, 0, 0, 0.7);
}
.icons {
  position: relative;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.icons:hover::after {
  opacity: 1;
}
.icons:hover {
  opacity: 1;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
