body {
  background-color: #f9fafc;
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.p-dialog-title {
  font-size: 30px;
}
.p-inputgroup {
  margin: auto;
  width: 310px;
}
.p-icon-field-right > .p-input-icon:last-of-type:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.641);
}
.p-icon-field-right > .p-input-icon:last-of-type {
  font-weight: 700;
  transition: ease-in-out 0.3s;
  color: #a4a4a4;
}
.pi .pi-check {
  color: red;
}
