body {
  background-color: #f9fafc;
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter Tight", sans-serif;
}
.p-dialog-title {
  color: #000000;
  font-size: 30px;
  font-family: "Inter Tight", sans-serif;
}
.p-inputgroup {
  margin: auto;
  width: 310px;
}
.p-icon-field-right > .p-input-icon:last-of-type:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.641);
}
.p-icon-field-right > .p-input-icon:last-of-type {
  font-weight: 700;
  transition: ease-in-out 0.3s;
  color: #a4a4a4;
}
.pi .pi-check {
  color: red;
}
.p-checkbox .p-checkbox-box {
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
.p-component-overlay {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0);
}
.p-component-overlay-enter {
  animation: none;
}
.p-dialog .p-dialog-header .p-dialog-header-icon {
  margin-top: 10px;
  width: 16px;
  height: 16px;
  font-size: 30px;
}
.p-dialog {
  border-radius: 10px;
}
.p-dialog-header {
  padding: 30px;
  border-radius: 10px;
}
.p-dialog-content {
  padding: 30px;
  padding-top: 0px;
  border-radius: 10px;
}
.p-inputtext {
  padding: 16px;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.pi-plus {
  margin-right: 10px;
}
